BASE_URL=https://kiwalannhs.vercel.app
ADMIN_EMAIL=admin@kiwalannhs.edu
ADMIN_PASS=your_admin_password
STAFF_EMAIL=teacher@kiwalannhs.edu
STAFF_PASS=your_teacher_password
STUDENT_EMAIL=student@kiwalannhs.edu
STUDENT_PASS=your_student_password
